
/* HEADER */
.hearder_borderTop {
    /* background-color: #f8f9fa!important; */
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,9,121,0) 100%);
    border-top: 8px solid #e13868;
}

.hearder_texts {
    width: auto;
    height: 38px;
    text-align: left;
    color: #1A2C3A;
    font-weight: bold;
    font-size: 16px;
    margin-left: 23px;
}

.clickHeaderIcon{
    cursor: pointer;
}

.clickHeaderIcon:hover{
    opacity: 0.8;
    -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
